In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1769,tt0480242,25000000,68377859,Dan in Real Life,Steve Carell|Juliette Binoche|Dane Cook|Dianne...,Peter Hedges,Something's happening to Dan. It's confusing. ...,"Advice columnist, Dan Burns is an expert on re...",98,Comedy|Romance|Drama,Touchstone Pictures|Focus Features|Jon Shestac...,10/26/2007,6.5,2007
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012
491,tt1320239,10000000,4349187,Burke & Hare,Simon Pegg|Andy Serkis|Isla Fisher|Tom Wilkins...,John Landis,No Job Too Small. No Body Too Big. No Question...,"Two 19th-century opportunists (Simon Pegg, And...",91,Comedy|Thriller,Ealing Studios|Fragile Films|Quickfire Films|P...,10/29/2010,6.0,2010
58,tt2679042,35000000,82347656,Hitman: Agent 47,Rupert Friend|Zachary Quinto|Hannah Ware|Emili...,Aleksander Bach,Your Number is Up.,An assassin teams up with a woman to help her ...,96,Action|Crime|Thriller,Twentieth Century Fox Film Corporation|Fox Int...,8/20/2015,5.5,2015
1453,tt0396171,50000000,132180323,Perfume: The Story of a Murderer,Ben Whishaw|Simon Chandler|David Calder|Richar...,Tom Tykwer,Based on the best-selling novel,"Jean-Baptiste Grenouille, born in the stench o...",147,Crime|Fantasy|Drama,Davis-Films|Nouvelles Ã‰ditions de Films (NEF)...,9/13/2006,7.0,2006

In [5]:
data.describe()
answers = {} # создадим словарь для ответов

# Предобработка

In [13]:
def month(string):
    '''extracts the month name from the full date numeric format or returns #error'''
    string = string[0:2]
    if string == '1/':
        return 'January'
    elif string == '2/':
        return 'February'
    elif string == '3/':
        return 'March'
    elif string == '4/':
        return 'April'
    elif string == '5/':
        return 'May'
    elif string == '6/':
        return 'June'
    elif string == '7/':
        return 'July'
    elif string == '8/':
        return 'August'
    elif string == '9/':
        return 'September'
    elif string == '10':
        return 'October'
    elif string == '11':
        return 'November'
    elif string == '12':
        return 'December'
    else:
        return '#error'

    
    
def countwords(string):
    '''Calculates the amount of words in the string'''
    count = 1
    for space in string:
        if space == ' ':
            count += 1
    return count


'''original csv dataset corrections and data enrichment'''

'''no data about profit in the csv - added one more columm with calculated profit:'''
data['profit'] = data.revenue - data.budget
'''added a columm with names of film release date month based on the full numeric date:'''
data['month'] = data.release_date.apply(lambda x: month(x))
'''added a columm with the lenght of film title in characters:'''
data['original_title_len'] = data.original_title.apply(lambda x: len(x)) 
'''added a columm with the calculation of the amont of words in the film overview:'''
data['overview_words_count'] = data.overview.apply(lambda x: countwords(x))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [14]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [10]:
#dataset filtering based on the maximum budget value
data[(data.budget==data.budget.max())].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [16]:
answers['2'] = 'Gods and Generals' #+

In [11]:
#dataset filtering based on the longest runtime value
data[(data.runtime==data.runtime.max())].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [17]:
answers['3'] = 'Winnie the Pooh' #+

In [16]:
#dataset filtering based on the shortest runtime value
data[(data.runtime==data.runtime.min())].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [18]:
answers['4'] = 110  #+

In [20]:
#using pandas function to define the runtime medium value
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [19]:
answers['5'] = 107  #+

In [21]:
#using pandas function to define the runtime median value
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [20]:
answers['6'] = 'Avatar' #+

In [26]:
#dataset filtering based on the biggest profit value (profit column was created during the data prep)
data[(data.profit==data.profit.max())].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = 'The Lone Ranger' #+

In [29]:
#dataset filtering based on the lowest profit value (profit column was created during the data prep)
data[(data.profit==data.profit.min())].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = 1478 #+

In [47]:
#calculation of the total count of the films which were profitable
data[(data.revenue > data.budget)].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = 'The Dark Knight' #+

In [53]:
#using pandas to querry the most profitable film in 2008
data.query('release_year in [2008]')[(data.query('release_year in [2008]').revenue==data.query('release_year in [2008]').revenue.max())].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger' #+

In [54]:
#using pandas to querry the most unprofitable film in 2012-2014 YY
data.query('2012<=release_year<=2014')[(data.query('2012<=release_year<=2014').profit==data.query('2012<=release_year<=2014').profit.min())].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = 'Drama'

In [12]:
#the dataset includes fims which were classified to several genres each
#creation of the list of different unique genres as the separate items 
allgenres={}
for genre in data.genres:
    genreslist = genre.split('|') #genres per film are seperated by "|"
    for itemgenre in genreslist:
        if itemgenre in allgenres:
            allgenres[itemgenre] += 1 #calculation of the amount of films in certain genre
        else:
            allgenres[itemgenre] = 0
allgenres

{'Action': 581,
 'Adventure': 414,
 'Science Fiction': 247,
 'Thriller': 595,
 'Fantasy': 221,
 'Crime': 314,
 'Western': 18,
 'Drama': 781,
 'Family': 259,
 'Animation': 138,
 'Comedy': 682,
 'Mystery': 167,
 'Romance': 307,
 'War': 57,
 'History': 61,
 'Music': 63,
 'Horror': 175,
 'Documentary': 7,
 'Foreign': 1}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [26]:
answers['12'] = 'Drama'

In [8]:
#using pandas to querry the most profitable film genres
genres_counter(data.query('revenue>budget').genres)

{'Action': 443,
 'Adventure': 336,
 'Science Fiction': 194,
 'Thriller': 445,
 'Fantasy': 187,
 'Crime': 230,
 'Western': 11,
 'Drama': 559,
 'Family': 225,
 'Animation': 119,
 'Comedy': 550,
 'Mystery': 118,
 'Romance': 241,
 'War': 40,
 'History': 45,
 'Music': 46,
 'Horror': 149,
 'Documentary': 6}

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [27]:
answers['13'] = 'Peter Jackson'

In [114]:
#ranking the film directors based on the total revenues using pandas querry
data.groupby(['director'])['revenue'].sum().sort_values()

director
Simon Hunter            2033165
Keanu Reeves            2054941
Paul Schrader           2062066
Steven Shainberg        2281089
David MichÃ´d           2295423
                        ...
J.J. Abrams          3579169916
Michael Bay          3886938960
David Yates          4154295625
Christopher Nolan    4167548502
Peter Jackson        6490593685
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [28]:
answers['14'] = 'Robert Rodriguez'

In [19]:
#the dataset includes a few fims which were created by several directors
#creating of the complete list of directors
directors = {}
for director in data.director.value_counts().keys():
    if not '|' in director:
        directors[director] = 0
        
#enrichment of the directors list with the info about the amount of the created films in the action genre
for director in directors:
    directors[director] = data[(data.genres.str.contains("Action") & data.director.str.contains(director))].imdb_id.count()
    
#definition of the director who created the most of the action films
bestdirector = ''
maximum = 0
for director in directors:
    if directors[director] > maximum:
        bestdirector = director
        maximum = directors[director] 
    elif directors[director] == maximum:
        bestdirector += director
bestdirector

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [29]:
answers['15'] = 'Chris Hemsworth'

In [30]:
#creating the separate dataset of films that were released in 2012
data2012 = data[data.release_year == 2012]

#each film in dataset has several casting actors
#creating of the complete list of separate actors
actors = {}
for few_actors_str in data2012.cast:
        few_actors_list = few_actors_str.split('|')
        for actor in few_actors_list:
            if not actor in actors:
                #acomulating the total value of film revenues per actor in 2012
                actors[actor] = data2012[(data2012.cast.str.contains(actor))].revenue.sum() 

#defining the actor who casted in the films that gained the highest revenues in 2012
bestactor = ''
maximum = 0
for actor in actors:
    if actors[actor] > maximum:
        bestactor = actor
        maximum = actors[actor] 
    elif actors[actor] == maximum:
        bestactor += '???' + actor
bestactor

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [30]:
answers['16'] = 'Matt Damon'

In [35]:
#each film in dataset has several casting actors
#creating of the complete list of separate actors
actors = {}
for few_actors_str in data[data.budget>data.budget.mean()].cast: #filtering only high budget films
        few_actors_list = few_actors_str.split('|')
        for actor in few_actors_list:
            if not actor in actors:
                actors[actor] = 1
            else:
                actors[actor] += 1
                
#defining the actor who casted in the biggest amount of films with high budget               
bestactor = ''
maximum = 0
for actor in actors:
    if actors[actor] > maximum:
        bestactor = actor
        maximum = actors[actor] 
    elif actors[actor] == maximum:
        bestactor += '???' + actor
bestactor

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [31]:
answers['17'] = 'Action'

In [79]:
#defining the top chart of films with Nicolas Cage casting
genres_counter(data[data.cast.str.contains('Nicolas Cage')].genres)

{'Action': 20,
 'Crime': 13,
 'Thriller': 18,
 'Comedy': 0,
 'Adventure': 4,
 'Horror': 0,
 'Science Fiction': 1}

# 18. Самый убыточный фильм от Paramount Pictures

In [32]:
answers['18'] = 'K-19: The Widowmaker'

In [43]:
#defining the most unprofitable Paramount Pictures film
paramount_data = data[data.production_companies.str.contains('Paramount Pictures')]
paramount_data[paramount_data.profit==paramount_data.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [33]:
answers['19'] = 2015

In [48]:
#creation of the chart of the years based on the total revenues per all films
data.groupby(['release_year']).revenue.sum().sort_values()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [34]:
answers['20'] = 2014

In [49]:
#calculation of the most profitable year for the WB
warner_data = data[data.production_companies.str.contains('Warner Bros')]
warner_data.groupby(['release_year']).profit.sum().sort_values()

release_year
2000     452631386
2006     620170743
2015     870368348
2002    1022709901
2012    1258020056
2001    1343545668
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1855493377
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [35]:
answers['21'] = 'September'

In [67]:
#defining of the month in which the biggest amount of films were created
#month column was created during the data prep
data.groupby(['month']).imdb_id.nunique().sort_values()

month
January      110
February     135
May          140
July         142
November     146
June         147
April        149
March        156
August       161
October      186
December     190
September    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [36]:
answers['22'] = '450'

In [75]:
#defining of the total amount of films that were created during the summer
#month column was created during the data prep
data[(data.month.isin(['June','July','August']))].imdb_id.nunique()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [37]:
answers['23'] = 'Peter Jackson'

In [78]:
#creation of the separate dataset for the films created in the Winter
winter_data = data[(data.month.isin(['December','January','February']))]

#the dataset includes a few fims which were created by several directors
#creating of the complete list of directors
directors = {}
for few_directors_str in winter_data.director:
        few_directors_list = few_directors_str.split('|')
        for director in few_directors_list:
            if not director in directors:
                directors[director] = 1
            else:
                directors[director] += 1
                
#definition of the director who created the most of the films during the Winter season
bestdirector = ''
maximum = 0
for director in directors:
    if directors[director] > maximum:
        bestdirector = director
        maximum = directors[director] 
    elif directors[director] == maximum:
        bestdirector += director
bestdirector

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [38]:
answers['24'] = 'Four By Two Productions'

In [40]:
#the dataset includes a few fims which were created by several studios
#creating of the complete list of studios
studios_len = {}
for few_studios_str in data.production_companies:
        few_studios_list = few_studios_str.split('|')
        for studio in few_studios_list:
            if not studio in studios_len:
                #calculation of the average lenght of the name of the film per studio
                studios_len[studio] = data[data.production_companies.str.contains(studio)].original_title_len.mean()

#defining of the studio with the longest average name of created films
longestlen = ''
maximum = 0
for studio in studios_len:
    if studios_len[studio] > maximum:
        longestlen = studio
        maximum = studios_len[studio] 
    elif studios_len[studio] == maximum:
        longestlen += studio
longestlen

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [41]:
answers['25'] = 'Midnight Picture Show'

In [42]:
#the dataset includes a few fims which were created by several studios
#creating of the complete list of studios
studios_len = {}
for few_studios_str in data.production_companies:
        few_studios_list = few_studios_str.split('|')
        for studio in few_studios_list:
            if not studio in studios_len:
                #calculation of the biggest average amount of words in the film overview per studio
                studios_len[studio] = data[data.production_companies.str.contains(studio)].overview_words_count.mean()

#defining of the studio with the average biggest amount of words in the film overview 
longestlen = ''
maximum = 0
for studio in studios_len:
    if studios_len[studio] > maximum:
        longestlen = studio
        maximum = studios_len[studio] 
    elif studios_len[studio] == maximum:
        longestlen += studio
longestlen

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [43]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [104]:
#creation of the chart of the top films by the avarage votes
#limiting of the list to top 1%
data.groupby(['original_title'])['vote_average'].mean().sort_values(ascending=False).head(len(data)//100)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Room                                             8.0
Interstellar                                     8.0
Inside Out                                       8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [45]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [116]:
#each film in dataset has several casting actors
#creating of the complete list of actor couples
actors = {}
for few_actors_str in data.cast:
        few_actors_list = few_actors_str.split('|')
        for actor1 in few_actors_list:
            for actor2 in few_actors_list:
                if actor1 != actor2:
                    #calculating of the frequency of the actors playing together in different films
                    if not ((actor1+'&'+actor2 in actors) or (actor2+'&'+actor1 in actors)):
                        actors[actor1+'&'+actor2] = 1
                    elif actor1+'&'+actor2 in actors:
                        actors[actor1+'&'+actor2] += 1

#definition of the two actors who play together in the biggest amount of different films
bestcouple = ''
maximum = 0
for actor in actors:
    if actors[actor] > maximum:
        bestcouple = actor
        maximum = actors[actor] 
    elif actors[actor] == maximum:
        bestcouple += '???' + actor
bestcouple

'Daniel Radcliffe&Rupert Grint???Daniel Radcliffe&Emma Watson???Rupert Grint&Emma Watson'

ВАРИАНТ 2

# Submission

In [46]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [47]:
len(answers)

27